:root {
    /* Colors */
    --color-surface: #131313;
    --color-surface-dim: #131313;
    --color-surface-bright: #393939;
    --color-surface-container-lowest: #0e0e0e;
    --color-surface-container-low: #1c1b1b;
    --color-surface-container: #201f1f;
    --color-surface-container-high: #2a2a2a;
    --color-surface-container-highest: #353534;
    --color-on-surface: #e5e2e1;
    --color-on-surface-variant: #c2c8c2;
    --color-inverse-surface: #e5e2e1;
    --color-inverse-on-surface: #313030;
    --color-outline: #8c928d;
    --color-outline-variant: #424844;
    --color-surface-tint: #b0cdbb;
    --color-primary: #b0cdbb;
    --color-on-primary: #1c3528;
    --color-primary-container: #2d4739;
    --color-on-primary-container: #98b5a3;
    --color-inverse-primary: #496455;
    --color-secondary: #b7ccbc;
    --color-on-secondary: #223429;
    --color-secondary-container: #384b3f;
    --color-on-secondary-container: #a5baaa;
    --color-tertiary: #e5c282;
    --color-on-tertiary: #412d00;
    --color-tertiary-container: #553e0a;
    --color-on-tertiary-container: #cbaa6c;
    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffdad6;
    --color-primary-fixed: #ccead6;
    --color-primary-fixed-dim: #b0cdbb;
    --color-on-primary-fixed: #062014;
    --color-on-primary-fixed-variant: #324c3e;
    --color-secondary-fixed: #d2e8d7;
    --color-secondary-fixed-dim: #b7ccbc;
    --color-on-secondary-fixed: #0d1f15;
    --color-on-secondary-fixed-variant: #384b3f;
    --color-tertiary-fixed: #ffdea5;
    --color-tertiary-fixed-dim: #e5c282;
    --color-on-tertiary-fixed: #261900;
    --color-on-tertiary-fixed-variant: #5b430f;
    --color-background: #131313;
    --color-on-background: #e5e2e1;
    --color-surface-variant: #353534;
    --color-level-0: #121212;
    --color-level-1: #1e1e1e;
    --color-level-2: #262626;

    /* Rounded */
    --radius-sm: 0.125rem;
    --radius-default: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;

    /* Spacing */
    --spacing-base: 8px;
    --spacing-xs: 4px;
    --spacing-sm: 12px;
    --spacing-md: 24px;
    --spacing-lg: 40px;
    --spacing-xl: 64px;
    --spacing-gutter: 24px;
    --spacing-margin-mobile: 16px;
    --spacing-margin-desktop: 32px;
}
