.item_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item:active {
    transform: scale(0.98);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-md);
    cursor: pointer;
    border-radius: var(--radius-lg);
    transition: all 0.2s ease-in-out;
    color: var(--color-on-surface-variant);
    user-select: none;
}

.item:hover {
    background-color: var(--color-surface-variant);
    color: var(--color-on-surface);
}

.item_active {
    background-color: var(--color-primary-container);
    color: white;
    font-weight: 800;
    box-shadow: 0 4px 12px rgba(176, 205, 187, 0.1);
}

.item_child {
    padding: calc(var(--spacing-sm) * 0.8) var(--spacing-md);
}

.content {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.text {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_sm {
    font-size: 0.9rem;
    font-weight: 400;
}

.chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.chevron span {
    font-size: 1.2rem;
}

.chevron_expanded {
    transform: rotate(180deg);
}

.children_container {
    padding-left: calc(var(--spacing-md) * 1.5);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}
